usernamecache.json
usercache.json
TooManyGravesData
texture_dump
screenshots
saves
reports
minetweaker.log
minecraftinstance.json
logs
local
llibrary
journeymap
hs_err_pid8052.log
hs_err_pid652.log
hs_err_pid23780.log
fonts
enderio
creative test pack (1).zip
crash-reports
betterfps.txt
backups
asm
.analytics/nl.lang2619.bagginses.gameanalytics.minecraft.MCSimpleAnalytics.properties